// 1. upper-menu -> header
// 2. upper-menu__first-block -> header__block + header__menu
// 3. upper-menu__second-block -> header__block + header__actions
// 4. move media inside classes
// 5. main__highlight превдоэлементом
// 6. remove main__title
// 7. slide-menu -> navigation
// 8. company-info -> company-info
// 9. company-info__first-block -> company-info__text-block
// 10. rewrite all pics / texts and other bullshit classes
// 11. html change lang to ru and alt langs
// 12. remove font-size from body
// 13. remove (screen) from media

@font-face {
    font-family: 'TT Lakes';
    src: url(./fonts/TTLakes-Regular.woff2) format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'TT Lakes';
    src: url(./fonts/TTLakes-Medium.woff2) format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'TT Lakes';
    src: url(./fonts/TTLakes-Bold.woff2) format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

:root {
    --color-white: #ffffff;
    --color-gray: #7e7e82;
    --color-blue: #41f6d7;
    --color-hover-blue: #b8ffec;
    --body-color: #f8f8f8;
    --text-color: #1b1c21;

    --line-color: #eaeaea;

    --font-regular: 400;
    --font-medium: 500;
    --font-bold: 700;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'TT Lakes', sans-serif;
    width: 100%;
    min-height: 100vh;
    background-color: var(--body-color);
    color: var(--text-color);
}

header {
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 88px;
}

.header__button {
    margin: 24px 8px;
}

.header__block {
    display: flex;
    align-items: center;
}

@media screen and (min-width: 0px) and (max-width: 500px) {
    .header__actions {
        display: none;
    }

    .header__first-line {
        display: none;
    }
}

.header__button {
    width: 40px;
    height: 40px;
}

.header__logo-button {
    width: 97px;
    height: 51px;
}

.header__first-line,
.header__second-line {
    width: 2px;
    height: 32px;
    background-color: var(--line-color);
    margin: 0 10px;
}

main {
    width: 100%;
    height: 509px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.title-block {
    width: 304px;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title-block__heading {
    width: 288px;
    height: 40px;
    font-family: 'TT Lakes', sans-serif;
    font-size: 28px;
    font-weight: var(--font-bold);
    position: relative;
    text-align: center;
}

.title-block__heading::before {
    content: '';
    display: block;
    position: absolute;
    width: 4px;
    height: 100%;
    background: var(--color-blue);
}

.navigation__list {
    box-sizing: border-box;
    height: 40px;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow-y: hidden;
}

@media (min-width: 1120px) {
    .navigation__list {
        flex-wrap: wrap;
        justify-content: flex-start;
        margin-bottom: 16px;
        overflow: unset;
    }
}

.navigation__button {
    box-sizing: border-box;
    display: inline-block;
    width: 100%;
    height: 40px;
    font-family: 'TT-Lakes', sans-serif;
    font-size: 16px;
    font-weight: var(--font-medium);
    color: var(--color-gray);
    white-space: nowrap;
    padding: 8px 16px;
    text-align: center;
    border: 2px solid var(--body-color);
    border-radius: 6px;
}

.navigation__button:hover {
    background-color: var(--color-white);
    border: 2px solid var(--color-hover-blue);
}

.company-info {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0;
    margin-left: 16px;
}

.company-info__about {
    font-size: 14px;
    font-weight: var(--font-regular);
    margin-top: 0;
    margin-bottom: 0;
}

.company-info__about-continue {
    display: hidden;
    font-size: 14px;
    font-weight: var(--font-regular);
    margin-top: 10px;
    margin-bottom: 0;
}

@media (min-width: 768px) {
    .company-info {
        flex-direction: row;
        align-items: flex-start;
    }

    .company-info__first-block {
        width: 50%;
    }

    .company-info__second-block {
        width: 50%;
    }

    .company-info__about-continue {
        display: hidden;
        font-weight: var(--font-regular);
    }
}

.company-info__read-more {
    box-sizing: border-box;
    display: flex;
    width: 132px;
    align-items: center;
    justify-content: flex-start;
}

.company-info__button {
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-weight: var(--font-regular);
    border: none;
    color: var(--text-color);
    background-color: var(--body-color);
    position: relative;
}

.company-info__expand {
    width: 24px;
    height: 24px;
}

.company-info__logo {
    width: 100%;
    height: auto;
}
