@font-face {
    font-family: 'TT Lakes';
    src: url(./fonts/TTLakes-Regular.woff2) format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'TT Lakes';
    src: url(./fonts/TTLakes-Medium.woff2) format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'TT Lakes';
    src: url(./fonts/TTLakes-Bold.woff2) format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

:root {
    --color-white: #ffffff;
    --color-gray: #7e7e82;
    --color-blue: #41f6d7;
    --color-hover-blue: #b8ffec;

    --main-color: #f8f8f8;
    --text-color: #1b1c21;
    --line-color: #eaeaea;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'TT Lakes', sans-serif;
    width: 100%;
    min-height: 100vh;
    color: var(--text-color);
}

header {
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 88px;
    background-color: var(--color-white);
}

.header__button {
    margin: 24px 8px;
    text-decoration: none;
}

.header__block {
    display: flex;
    align-items: center;

    @media (min-width: 1120px) {
        display: none;
    }
}

@media (min-width: 0px) and (max-width: 500px) {
    .header__actions {
        display: none;
    }

    .header__first-line {
        display: none;
    }
}

.header__button {
    width: 40px;
    height: 40px;
}

.header__logo-button {
    width: 97px;
    height: 51px;
}

.header__first-line,
.header__second-line {
    width: 2px;
    height: 32px;
    background-color: var(--line-color);
    margin: 0 10px;
}

main {
    width: 100%;
    height: 509px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    background-color: var(--main-color);
}

.title-block {
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title-block__heading {
    width: 100%;
    font-family: 'TT Lakes', sans-serif;
    font-size: 28px;
    font-weight: 700;
    position: relative;
    text-align: center;
    margin: 0;

    @media (min-width: 1120px) {
        width: 30%;
    }
}

.title-block__heading::before {
    content: '';
    display: block;
    position: absolute;
    width: 4px;
    height: 100%;
    background: var(--color-blue);
}

.title-block__buttons {
    display: none;

    @media (min-width: 1120px) {
        display: flex;
        align-items: center;
    }
}

.title-block__button {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: var(--text-color);

    @media (min-width: 1120px) {
        white-space: nowrap;
    }
}

@media (min-width: 1120px) {
    .title-block__button-text {
        margin: 6px;
    }
}

.navigation__list {
    box-sizing: border-box;
    height: 40px;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: scroll;

    @media (min-width: 1120px) {
        box-sizing: border-box;
        display: flex;
        height: 82px;
        flex-wrap: wrap;
        justify-content: flex-start;
        margin-bottom: 16px;
    }
}

.navigation__button {
    box-sizing: border-box;
    display: inline-block;
    height: 40px;
    font-family: 'TT-Lakes', sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: var(--color-gray);
    white-space: nowrap;
    padding: 8px 16px;
    text-align: center;
    border: 2px solid var(--main-color);
    border-radius: 6px;
}

@media (hover: hover) {
    .navigation__button:hover {
        background-color: var(--color-white);
        border: 2px solid var(--color-hover-blue);
    }
}

.company-info {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0;
    padding: 16px;

    @media (min-width: 768px) {
        flex-direction: row;
        align-items: flex-start;
    }
}

.company-info__about {
    font-size: 14px;
    font-weight: 400;
    margin-top: 0;
    margin-bottom: 16px;
}

.company-info__about-continue {
    display: none;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 16px;

    @media (min-width: 768px) {
        display: initial;
        font-weight: 400;
    }
}

.company-info__about-last {
    display: none;
    font-size: 14px;
    font-weight: 400;
    margin-top: 0px;
    margin-bottom: 16px;

    @media (min-width: 1120px) {
        display: initial;
    }
}

@media (min-width: 768px) {
    .company-info__first-block {
        width: 50%;
        margin: 0 16px;
    }

    .company-info__second-block {
        width: 50%;
        margin: 0 16px;
    }
}

.company-info__read-more {
    box-sizing: border-box;
    display: flex;
    width: 132px;
    align-items: center;
    justify-content: flex-start;
    margin-top: 20px;
}

.company-info__button {
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-weight: 400;
    border: none;
    color: var(--text-color);
    background-color: var(--main-color);
    position: relative;
}

.company-info__expand {
    width: 24px;
    height: 24px;
}

.company-info__logo {
    width: 90%;
    height: auto;
    border-radius: 6px;
}
